	.row{
		margin-bottom:10px;
	}
	.course-box{
		margin-left:10px;
		font-size:15px;
	}
	#courseError{
		display:none;
	}

	.course_name{
		font-size:14pt;
		text-align: center;
		font-weight:bold;
		background-color: rgba(51, 122, 183, 0.17);
	}
	.btn-student{
		width:100px;
		margin-left:500px;

	}
	.student-box{
		margin:3px auto;
	}
	.btn{
		margin-top:10px;
	}
	.coursesall{
		margin-left: -20px;
        color:#337AB7;
	}