.panel{
    width: 400px;
    margin-left: 350px;
}
hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.btn{
    margin-left: 150px;
    margin-bottom: 30px;

}